<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    >
    <testsuites>
        <testsuite name="qTranslate-XT Test Suite">
            <directory suffix="Test.php">./tests/</directory>
            <exclude>./tests/integration/</exclude>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/modules/</directory>
            <file>./qtranslate.php</file>
        </exclude>
    </coverage>
</phpunit>
